.compraFinalizdaBody{
    width: 100%;
    flex: 1 1 auto;
    background-color: #fce4f0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    color: #E54161!important;
}

.confirmationTitle{
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: Cookie;
    margin-bottom: 2px;
    font-size: 780%;
}

.confirmationTitle h5 {
    font-size: 40px;
}

.confirmationTitle h6 {
    font-size: 45px;
}

.downloadBoleto a{
    background-color: #e54161 !important;
    color: #fff;
    border: 3px solid #e54161 !important;
    padding: 8px 20px;
    border: none;
    border-radius: 20px!important;
    cursor: pointer;
    font-size: 30%;
    margin-top: 2%;
}

.downloadBoleto a:hover {
    color: #e54161 !important;
    background-color: #fff !important;
    text-decoration: none;
}

.compraFinalizdaBody p {
    font-size: 80px;
    margin-top: 2%;
    font-family: Cookie;
}

@media screen and (max-width: 600px){
    .compraFinalizdaBody p{
        margin-top: 13%;
        font-size: 350%;
    }

    .confirmationTitle h5{
        font-size: 25%;
    }

    .confirmationTitle h6{
        font-size: 20%;
    }

}