body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    display: flex;
  }

.container-body-all {
    width: 100%;
    text-align: center;
    background-image: url("/img/body-img.jpg");
  }  

@media screen and (min-width: 376px){
    div.boxes{
      vertical-align: middle;
      flex-direction: row;
    }
}
@media screen and (max-width:376px){
    div.boxes{
      flex-direction: column;
    }
}

.boxes {
    height: 88.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  
.container {
    margin-top: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    
  }

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px; 
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 5px;
  }
  
input[type=submit] {
    background-color: rgba(22, 22, 22, 0.9);;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #E54161;
  }

.left-box-blured {
    text-align: center;
    width: 34%;
    height: 42%;
    background: rgba(107, 107, 107, 0.15);
    box-shadow: 0px 4px 4px rgba(122, 119, 255, 0.05);
    backdrop-filter: blur(17px);
    
    /* Note: backdrop-filter has minimal browser support */
    
    border-radius: 15px;
  }
    
.right-box-blured {
    text-align: center;
    width: 34%;
    height: 42%;
    background: rgba(107, 107, 107, 0.15);
    box-shadow: 0px 4px 4px rgba(122, 119, 255, 0.05);
    backdrop-filter: blur(17px);
      
    /* Note: backdrop-filter has minimal browser support */
      
    border-radius: 15px;
      
  }

.box-title{
    margin-top: 5%;
      
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 42px;
    line-height: 22px;
    font-weight: 600;
    text-align: center;
    
    color: #E54161;
  }
      
.box-message{
    margin-top: 12%;
    margin-left: 10%;
    width: 80%;
      
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 20px;
    text-align: center;
     
    color: #FFF;
  }
  
.box-message-contact{
    margin-top: 12%;
    margin-left: 10%;
    width: 80%;
     
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
     
    color: #FFF;
  }      