.container-body-all {
  width: 100%;
  text-align: center;
  background-color: lightgray;
}  

.boxes {
  height: 95vh;
  display: flex;
  vertical-align: middle;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.box-blured {
  width: 34%;
  height: 42%;
  max-height: 400px;
  text-align: center;
  background: rgba(107, 107, 107, 0.15);
  box-shadow: 0px 4px 4px rgba(122, 119, 255, 0.05);
  backdrop-filter: blur(17px);
  border-radius: 15px;
}

.box-title{
  margin-top: 5%;
    
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 42px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
  
  color: #E54161;
}
    
.box-message-contact{
  margin-top: 12%;
  margin-left: 10%;
  width: 80%;
   
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  text-align: left;
   
  color: #6e6e6e;
}      

.container {
  margin-top: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: normal;
  
}

input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px; 
  box-sizing: border-box;
  margin-top: 5%;
  margin-bottom: 5px;
}

input[type=submit] {
  background-color: #e54161;
  color: #ffffff;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 120%;
  margin-top: 2%;
}

input[type=submit]:hover {
  background: #f2f2f2;
    color: #e54161;
    text-decoration: none;
}

@media screen and (max-width:600px){
  div.boxes{
    flex-direction: column;
  }

  div.box-blured{
    width: 85%;
    height: 38%;
  }

  input[type=submit] {
    margin-top: -1%;
  }

}
