.top-nav-bar {
    position: flex;
    width: 100%;
    height: 90px;
    left: 0px;
    top: 0px;
  
    background: rgba(22, 22, 22, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .logo-line {
    position: absolute;
    width: 175px;
    height: 0px;
    left: 15%;
    top: 0px;
    opacity: 40%;
  
    background: #E5E5E5;
    border: 0.4px solid #A1A1A1;
    transform: rotate(90deg);
  }

  .logo-nav-bar a {
    position: absolute;
    width: 20%;
    height: 90px;
    left: 8.1%;
    top: 0px;
  
    font-family: Cookie;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.25s;
  
    color: #FFFFFF;
  
  }


  .top-nav-plans {

    position: absolute;
    width: 8.4%;
    height: 90px;
    left: 24%;
    top: 0px;
    align-items: center;
  }


  .top-nav-plans a {
    width: auto;
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    text-align: center;
    transition: 0.25s;
  
    color: #FFFFFF;
  }

  .top-nav-plans a:hover,
.top-nav-about a:hover,
.top-nav-contact a:hover,
.top-nav-login a:hover,
.logo-nav-bar a:hover {
  color: #E54561;
}

.top-nav-about {
    position: absolute;
    width: 8.4%;
    height: 90px;
    left: 29%;
    top: 0px;
    align-items: center;
  
  
  }
  
  .top-nav-about a {
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    text-align: center;
    transition: 0.25s;
  
    color: #FFFFFF;
  }

a {
    color: #FFFFFF;
  }

  .top-nav-contact {

    position: absolute;
    width: 8.4%;
    height: 90px;
    left: 33.5%;
    top: 0px;
    align-items: center;
  
  
    color: #FFFFFF;
  }
  
  .top-nav-contact a {
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    text-align: center;
    transition: 0.25s;
  
    color: #FFFFFF;
  }
  
  .top-nav-login {
    position: absolute;
    width: 6.4%;
    height: 90px;
    left: 74%;
    top: 0px;
    align-items: center;
  
  }
  
  .top-nav-login a {
    width: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    text-align: center;
    transition: 0.25s;
  
    color: #FFFFFF;
  }

  .sign-background {

    position: absolute;
    width: 6.4%;
    height: 51.43px;
    left: 83%;
    top: 18.79px;
  
    background: #E54561;
    border-radius: 3.2px;
    text-align: center;
  }

  .sign-background .top-nav-sign {
    width: auto;
    height: auto;
    left: 81.7%;
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 12%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  
  
    color: #FFFFFF;
  }

  .sign-background .top-nav-sign a {
    width: auto;
    height: auto;
    left: 81.7%;
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  
  
    color: #FFFFFF;
  }
  
  .sign-background:hover {
      font-weight: 800;
      background-color: rgb(226, 88, 111); 
      cursor: pointer;
  }