.viewAddressBody{
    width: 100%;
    background-color: #fce4f0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.addressViewTitle{
    padding-top: 4%;
    padding-bottom: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-size: 42px;
    line-height: 22px;
    font-weight: 600;
    color: #E54161!important;
    text-align: center;
    
}

.enderecosBoxesView{
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;


}

.boxEnderecoView{
    width: 24%;
    height: 28vh;
    text-align: center;
    background: rgba(107, 107, 107, 0.15);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.box-endereco-text-view{
    margin-top: 7%;
    width: 100%;
    color: rgba(22, 22, 22, 0.9);
}

.actions{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.actions a{
    color: #E54161!important;
    text-decoration: none;
}

.actions a:hover{
    color: white!important;
}

.addAddressView{
    margin-top: 10%;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
   
}

.addAddressView a{
    color: #e54161;
    font-size: 55px;
    text-decoration: none;
}

.addAddressView a:hover{
    color: #ffffff!important;
    text-decoration: none;
}



@media screen and (max-width: 600px){
    .enderecosBoxesView{
        width: 98vw;
        height: 60vh;
    }
    .boxEnderecoView{
        width: 49%;
        height: 45%;
    }
}